.mevsgroupplay-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.videoid-label {
    font-size: 0.5em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #555;
    text-align: center;
    margin-top: 1em;
}

.title-label {
    font-size: 0.9em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #555;
    text-align: center;
    margin-top: 1em;
}